<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emrys.vaipixel.db.mapper.WorkMapper">
    <sql id="BASE_TABLE">
        t_work
    </sql>
    <sql id="BASE_COLUMN">
        work_id, title, description, created_time, updated_time, width, height, type, large_url, medium_url, small_url,
        thumb_url, category_id, author_id
    </sql>
    <select id="getAllA" resultMap="test">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        LEFT JOIN t_user ON t_work.author_id = t_user.user_id
    </select>
    <resultMap id="test" type="com.emrys.vaipixel.db.model.Work">
        <id property="workId" column="work_id"/>
        <association property="author" column="author_id" javaType="com.emrys.vaipixel.db.model.User" resultMap="user"/>
    </resultMap>
    <resultMap id="user" type="com.emrys.vaipixel.db.model.User">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
    </resultMap>
</mapper>