# Compiled class file
*.class

*.DS_Store
# Log file
*.log

## NodeJS
node_modules/
# BlueJ files
*.ctxt
/dist/
# Mobile Tools for Java (J2ME)
.mtj.tmp/
npm-debug.log*

# Package Files #
*.jar
*.war

yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
*.rar
selenium-debug.log

hs_err_pid*
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/test-classes
target/springboot_vue-0.0.1-SNAPSHOT.jar.original

!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

## images
*.lpop
