<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emrys.vaipixel.db.mapper.UserMapper">
    <sql id="BASE_TABLE">
        t_user
    </sql>

    <sql id="BASE_COLUMN">
        id, user_name, nick_name, avatar_url, email
    </sql>

    <select id="getUserInfoByCond" resultType="com.emrys.vaipixel.db.model.User">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        <where>
            1=1
            <if test="userName != null">
                AND user_name = #{userName, jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                AND password = #{password, jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>