<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emrys.vaipixel.db.mapper.WorkMapper">

    <resultMap id="PhotoResultMap" type="com.emrys.vaipixel.db.model.Photo">
        <id column="photo_id" property="photoId"/>
        <result column="camera" property="cameraParameter.camera"/>
        <result column="lens" property="cameraParameter.lens"/>
        <result column="focal_length" property="cameraParameter.focalLength"/>
        <result column="aperture" property="cameraParameter.aperture"/>
        <result column="iso" property="cameraParameter.iso"/>
        <result column="shutter" property="cameraParameter.shutter"/>
    </resultMap>

    <resultMap id="VideoResultMap" type="com.emrys.vaipixel.db.model.Video"/>

    <resultMap id="WorkResultMap" type="com.emrys.vaipixel.db.model.Work">
        <id column="work_id" property="workId"/>
        <result column="large_url" property="image.largeUrl"/>
        <result column="medium_url" property="image.mediumUrl"/>
        <result column="small_url" property="image.smallUrl"/>
        <result column="thumb_url" property="image.thumbUrl"/>
        <association property="author" column="author_id"
        select="com.emrys.vaipixel.db.mapper.UserMapper.getUserById"/>
        <association property="category" column="category_id"
        select="com.emrys.vaipixel.db.mapper.CategoryMapper.getCategoryById"/>
        <collection property="tags" column="work_id"
        select="com.emrys.vaipixel.db.mapper.TagMapper.getWorkTags"/>
        <discriminator javaType="com.emrys.vaipixel.db.enums.WorkTypeEnum" column="type">
            <case value="photo" resultMap="PhotoResultMap"/>
            <case value="video" resultMap="VideoResultMap"/>
        </discriminator>
    </resultMap>

    <sql id="BASE_TABLE">
        t_work
    </sql>
    <sql id="PHOTO_TABLE">
        t_photo
    </sql>
    <sql id="VIDEO_TABLE">
        t_video
    </sql>
    <sql id="BASE_COLUMN">
        work.work_id, title, description, created_time, updated_time, width, height, type, large_url, medium_url, small_url,
        thumb_url, category_id, author_id, like_count, page_view, user_view
    </sql>

    <select id="getWorksByCond" resultMap="WorkResultMap"
            parameterType="com.emrys.vaipixel.dto.cond.WorkCond">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        AS work

        LEFT JOIN
        <include refid="PHOTO_TABLE"/>
        AS photo
        ON photo.work_id = work.work_id

        LEFT JOIN
        <include refid="VIDEO_TABLE"></include>
        AS video
        ON video.work_id = work.work_id

        <where>1 = 1
            <if test="categoryId != null">
                AND work.category_id LIKE CONCAT('%', #{categoryId, jdbcType=INTEGER}, '%')
            </if>
            <if test="title != null">
                AND work.title LIKE CONCAT('%', #{title, jdbcType=VARCHAR}, '%')
            </if>
            <if test="type != null">
                AND work.type = #{type, jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                AND work.status = #{status, jdbcType=VARCHAR}
            </if>
            <if test="startTime != null">
                AND work.created_time &gt;= #{startTime, jdbcType=Timestamp)}
            </if>
            <if test="endTime != null">
                AND work.created_time &lt;= #{categoryId, jdbcType=Timestamp}
            </if>
            <if test="orderBy != null &amp;&amp; sc != null">
                ORDER BY ${orderBy} ${sc}
            </if>
        </where>
    </select>
</mapper>